<h1>Property of Bristol</h1>

<dl>
<% entries.each do |entry| %>
<dt><a href="<%= entry.url %>"><%= entry.title %></a></dt>
<dd>
  <% if entry.is_a? Feedzirra::ITunesRSSItem %>
  <%= entry.summary %>
  <% else %>
  <%= entry.content %>
  <% end %>
  <p>By: <%= entry.author %> on <%= entry.published %></p>

</dd>
<% end %>

